<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="Mounika.EtEProject.Listeners"/>

</listeners>
  <test thread-count="5" name="validating navigation bar">
    <classes>
      <class name="Mounika.EtEProject.ValidateNavigationbar"/>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="validating user login">
    <classes>
      <class name="Mounika.EtEProject.HomePage"/>
    </classes>
  </test> <!-- Test -->
  
  <test thread-count="5" name="validating title of featured courses">
    <classes>
      <class name="Mounika.EtEProject.ValidateTitle"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
